@import "/src/styles/fonts/fonts.scss";
@import "/src/styles/colors.scss";

.filter {
  font-family: Futura PT Book;
  font-size: 15px;
  color: $regular-font;

  em {
    font-family: Futura PT Book;
    font-size: 15px;
    color: $regular-font;
  }

  .css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
    background-color: aqua;
  }
}
