@import "/src/styles/fonts/fonts.scss";
@import "/src/styles/colors.scss";

header {
  height: 100px;
  padding-top: 9px;

  .headerContainer {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1000px;
    height: 90px;
    font-family: Futura PT Book;
    font-size: 15px;
  }

  .textLink {
    color: $regular-font;
    text-decoration: none;

    &:hover {
      color: $product-font;
    }
  }
}
